*{
    padding: 0;
    margin: 0;
}

.galeria{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
   
}
.imagen-galeria{
width: 150px;
}
.imagen-galeria:hover{
    opacity: 0.3;
    cursor: pointer;
}